   /* .banner {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f9f9f9; 
    flex-wrap: wrap; 
  }
  
  .item {
    margin: 0;
    width: 30%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  }
  
  .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .title {
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
  }
  
  .item:hover, .item.selected {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    background-color: #f0e5e6;
  }

  @media (max-width: 1024px) {
    .item {
      width: 45%;
    }
  
    .title {
      font-size: 1.3rem;
    }
  
    p {
      font-size: 0.9rem;
    }
  }
  

  @media (max-width: 768px) {
    .item {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .title {
      font-size: 1.2rem;
    }
  
    p {
      font-size: 0.85rem;
    }
  }
  
  @media (max-width: 480px) {
    .item {
      width: 100%;
    }
  
    .icon {
      width: 40px;
      height: 40px;
    }
  
    .title {
      font-size: 1.1rem;
    }
  
    p {
      font-size: 0.8rem;
    }
  }
   */


   .banner {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f9f9f9; /* No change to the background color */
    flex-wrap: wrap;
}

.item {
    margin: 0;
    width: 30%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.icon {
    width: 50px;
    height: 50px;
    fill: green; /* Apply green color to the SVG icons */
    margin-bottom: 10px;
}

.title {
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
}

.item:hover, .item.selected {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    background-color: #8ac1fb;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
    .item {
      width: 45%;
    }

    .title {
      font-size: 1.3rem;
    }

    p {
      font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .item {
      width: 100%;
      margin-bottom: 20px;
    }

    .title {
      font-size: 1.2rem;
    }

    p {
      font-size: 0.85rem;
    }
}

@media (max-width: 480px) {
    .item {
      width: 100%;
    }

    .icon {
      width: 40px;
      height: 40px;
    }

    .title {
      font-size: 1.1rem;
    }

    p {
      font-size: 0.8rem;
    }
}
