.container {
  background-color: white;
}

.sliderContainer {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 1rem;
}

.slider {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  width: 100%;
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  display: none; 
}

.card {
  flex: 0 0 25%; 
  margin: 0 10px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transform: translateY(-10px) scale(1.05);
}

.card img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 1rem;
  color: #333;
}

.navButton {
  background-color: #0f6590;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.navButton:first-of-type {
  left: 10px;
}

.navButton:last-of-type {
  right: 10px;
}

.head {
  padding-top: 2rem;
  background-color: white;
  width: 100%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:x-large;
  padding-left: 1rem;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .card {
    flex: 0 0 33.33%; /* Show 3 cards at once */
  }
}

@media (max-width: 768px) {
  .card {
    flex: 0 0 50%; /* Show 2 cards at once */
  }
}

@media (max-width: 480px) {
  .card {
    flex: 0 0 100%; /* Show 1 card at once */
  }
}
