
.banner {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f9f9f9; /* No change to the background color */
    flex-wrap: wrap;
}

.item {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 30%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.icon {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
}

.title {
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 10px;
}


.item:hover, .item.selected .icon{
  cursor: pointer;
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    background-color: rgb(176, 176, 176);
    fill: green;     
}
.head h1{
  padding: 17px;
  padding-left: 40px;
}
.head{
  background-color: #f9f9f9;
  font-family: 'Syne', sans-serif;
  font-weight: 400;
  color: #0f6590dc;
  font-size: 1.2rem;
  margin-bottom: 10px;
  transform: translateY(20px);
  transition: transform 1s ease-in-out 0.2s;
  text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.5);
}


/* Responsive Adjustments */
@media (max-width: 1024px) {
    .item {
      width: 45%;
    }

    .title {
      font-size: 1.3rem;
    }

}

@media (max-width: 768px) {
    .item {
      width: 100%;
      margin-bottom: 20px;
    }

    .title {
      font-size: 1.2rem;
    }

}

@media (max-width: 480px) {
    .item {
      width: 100%;
    }

    .icon {
      width: 40px;
      height: 40px;
    }

    .title {
      font-size: 1.1rem;
    }

}
