.bookingDetails {
    padding: 40px;
    text-align: center;
    background-color: #f9f9f9;
    border-style:2px solid #f9f9f9;
    transform: -5px;
}

.doctorImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 40px;
}

.confirmButton, .cancelButton {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 24px;
    width: 15rem;
    background-color: #0f6590dc;
    color: #f9f9f9;
}

.name{
    padding: 20px;
}

.confirmButton:hover{
    background-color: #088a03dc;
    transform: translateY(-2px);
}

.cancelButton:hover{
    background-color: #088a03dc;
    transform: translateY(-2px);
}