/* .labsContainer {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
} */


.labsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    background-color: #f2f2f2;
}

.labsContainer h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.labsContainer p {
    font-size: 1rem;
    color: #666;
    margin: 10px 0;
}

@media (max-width: 768px) {
    .labsContainer {
        padding: 20px 10px;
    }

    .labsContainer h2 {
        font-size: 1.5rem;
    }
}
